<%= @submissio %>

<div class="question-card">
	<div class="question-container">
		
		<%= @question.content %>


	</div>
</div>





<%# Service.all.each do |service| %>
  <!-- <h1><%#= service.name %></h1> -->
  <!-- <ul> -->
  <%# service.service_items.each do |item| %>
    <!-- <li> -->
      <%#= @order.order_items.find_by(service_item: item).content %>
      <%#= @order.order_items.find_by(service_item: item).unit_price %>
    <!-- </li> -->
  <%# end %>
  <!-- </ul> -->
<%# end %>