.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  gap: 24px 24px;
  // grid-template-areas:
    // "section-card . ."
    // ". . ."
    // ". . .";
}

.grid-container-sections-user {
  display:grid;
  grid-template-columns: 15% 20% 1.2fr;
  gap: 36px 36px;

}

.submissio-overview {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px 36px;
}


.section-area {
  border-bottom: 1px solid;
  padding: 36px;
}

// Specific CSS for your home-page

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid-container {
  	 
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-container {
  	 
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-container {
  	 
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid-container {
  	 
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .grid-container {
  	 
  }
}
