.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  gap: 6px 6px;
  // grid-template-areas:
    // "section-card . ."
    // ". . ."
    // ". . .";
}

.section-card {
	border-radius: 12px;
	border: 1px solid grey;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	padding: 20px;
} //{ grid-area: section-card; }




// Specific CSS for your home-page

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .gri-container {
  	 
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .gri-container {
  	 
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .gri-container {
  	 
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .gri-container {
  	 
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .gri-container {
  	 
  }
}
