<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Submissios', submissios_path, class: "btn btn-primary"  %>
<%= link_to 'Sections & Questions', sections_path, class: "btn btn-primary"  %>
