<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-3 main-card">
      <h1>Edit submissio</h1>

      <%= simple_form_for [@submissio] do |f| %>
      
        <div class="form-inputs">
        	<div class="form-group">
          	<%= f.input :authority %>
          </div>
          <%= f.button :submit, "Update Submissio", class: "btn btn-primary" %>
        </div>
      </div>
      
      <% end %>
    </div>
  </div>
</div>
